<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994060554903-lta04ao8i0bjiuidkl77ttvqfvanbr37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994060554903-lta04ao8i0bjiuidkl77ttvqfvanbr37</string>
	<key>API_KEY</key>
	<string>AIzaSyCRVYr5mSVpQ0AYEMUU3JbZkb9ifVsTA6Q</string>
	<key>GCM_SENDER_ID</key>
	<string>994060554903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.angelrosario.TwitterCloneApp</string>
	<key>PROJECT_ID</key>
	<string>twittercloneapp-48c99</string>
	<key>STORAGE_BUCKET</key>
	<string>twittercloneapp-48c99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994060554903:ios:e1f6457cbf3d78fd308fd2</string>
</dict>
</plist>